<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
       <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.marcomet.users.security.LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>validSiteNumber</servlet-name>
        <servlet-class>com.marcomet.users.admin.ValidateSiteNumber</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>ValidateUserName</servlet-name>
        <servlet-class>com.marcomet.users.admin.ValidateUserName</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>LmsUserLogin</servlet-name>
        <servlet-class>com.marcomet.users.security.LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>UpdateUserRegistration</servlet-name>
        <servlet-class>com.marcomet.users.admin.UpdateUserRegistration</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>NewUserRegistration</servlet-name>
        <servlet-class>com.marcomet.users.admin.NewUserRegistration</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>catalogServlet</servlet-name>
        <servlet-class>com.marcomet.catalog.CatalogNavigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogControllerServlet</servlet-name>
        <servlet-class>com.marcomet.catalog.CatalogControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogSelectionServlet</servlet-name>
        <servlet-class>com.marcomet.admin.catalog.CatalogSelectionServlet</servlet-class>
    </servlet>
	<servlet>
	    <servlet-name>GridBridgeServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.catalog.GridBridgeServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>RebuildGridBridgeServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.catalog.RebuildGridBridgeServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>UpdateCompanyInformationServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.company.UpdateCompanyInformationServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>SimpleDeleteJobServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.data.SimpleDeleteJobServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>AdminLoginServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.security.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>UpdateSiteSetupServlet</servlet-name>
	    <servlet-class>com.marcomet.admin.site.UpdateSiteSetupServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CatalogCustomJobCreationServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.CatalogCustomJobCreationServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CatalogFlowServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.CatalogFlowServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CatalogOfferingServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.CatalogOfferingServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CatalogUploadServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.CatalogUploadServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ProxyOrderServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.ProxyOrderServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>RemoveProjectServlet</servlet-name>
	    <servlet-class>com.marcomet.catalog.RemoveProjectServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>FileManagementHeaderServlet</servlet-name>
	    <servlet-class>com.marcomet.files.FileManagementHeaderServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>FileManagementServlet</servlet-name>
	    <servlet-class>com.marcomet.files.FileManagementServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>businesscardServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.businesscardServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>chartabServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.chartabServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>helloServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.helloServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>imageServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.imageServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>invoiceServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.invoiceServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>pdfclockServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.pdfclockServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>quickreferenceServlet</servlet-name>
	    <servlet-class>com.marcomet.pdflib.servlet.quickreferenceServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>AdHocReviewCompProofServlet</servlet-name>
	    <servlet-class>com.marcomet.sbpprocesses.AdHocReviewCompProofServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>InterimInvoiceServlet</servlet-name>
	    <servlet-class>com.marcomet.sbpprocesses.InterimInvoiceServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>InterimShipmentInvServlet</servlet-name>
	    <servlet-class>com.marcomet.sbpprocesses.InterimShipmentInvServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>InterimShipmentServlet</servlet-name>
	    <servlet-class>com.marcomet.sbpprocesses.InterimShipmentServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>QuickColumnUpdaterServlet</servlet-name>
	    <servlet-class>com.marcomet.tools.QuickColumnUpdaterServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>QuickUpdaterServlet</servlet-name>
	    <servlet-class>com.marcomet.tools.QuickUpdaterServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ReturnPageContentServlet</servlet-name>
	    <servlet-class>com.marcomet.tools.ReturnPageContentServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>UpdateSalesTaxInfoServlet</servlet-name>
	    <servlet-class>com.marcomet.tools.UpdateSalesTaxInfoServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>EditPasswordServlet</servlet-name>
	    <servlet-class>com.marcomet.users.admin.EditPasswordServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ResetPasswordServlet</servlet-name>
	    <servlet-class>com.marcomet.users.admin.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>InvoiceServlet</servlet-name>
	    <servlet-class>com.marcomet.workflow.actions.InvoiceServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ProposeChangeServlet</servlet-name>
	    <servlet-class>com.marcomet.workflow.actions.ProposeChangeServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ProcessJobSubmit</servlet-name>
	    <servlet-class>com.marcomet.sbpprocesses.ProcessJobSubmit</servlet-class>
	</servlet>
	
	
	
	
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.security.LoginUserServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>validSiteNumber</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.ValidateSiteNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserName</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.ValidateUserName</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>LmsUserLogin</servlet-name>
        <url-pattern>/servlet/loginServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>UpdateUserRegistration</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.UpdateUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserRegistration</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.NewUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalogServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogNavigationServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CatalogControllerServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.admin.security.AdminLoginServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>UpdateSiteSetupServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.admin.site.UpdateSiteSetupServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CatalogCustomJobCreationServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogCustomJobCreationServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CatalogFlowServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogFlowServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CatalogOfferingServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogOfferingServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>CatalogUploadServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.CatalogUploadServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ProxyOrderServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.ProxyOrderServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>RemoveProjectServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.catalog.RemoveProjectServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>FileManagementHeaderServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.files.FileManagementHeaderServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>FileManagementServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.files.FileManagementServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>businesscardServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.businesscardServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>chartabServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.chartabServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.helloServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.imageServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>invoiceServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.invoiceServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>pdfclockServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.pdfclockServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>quickreferenceServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.pdflib.servlet.quickreferenceServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>AdHocReviewCompProofServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.sbpprocesses.AdHocReviewCompProofServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InterimInvoiceServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.sbpprocesses.InterimInvoiceServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InterimShipmentInvServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.sbpprocesses.InterimShipmentInvServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InterimShipmentServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.sbpprocesses.InterimShipmentServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>QuickColumnUpdaterServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.tools.QuickColumnUpdaterServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>QuickUpdaterServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.tools.QuickUpdaterServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ReturnPageContentServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.tools.ReturnPageContentServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>UpdateSalesTaxInfoServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.tools.UpdateSalesTaxInfoServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.EditPasswordServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.users.admin.ResetPasswordServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.workflow.actions.InvoiceServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ProposeChangeServlet</servlet-name>
        <url-pattern>/servlet/com.marcomet.workflow.actions.ProposeChangeServlet</url-pattern>
    </servlet-mapping>  
      <servlet-mapping>
        <servlet-name>ProcessJobSubmit</servlet-name>
        <url-pattern>/servlet/com.marcomet.sbpprocesses.ProcessJobSubmit</url-pattern>
    </servlet-mapping>
    
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/marcomet</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
  	 <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
      <error-page>
        <error-code>500</error-code>
        <location>/errors/ExceptionPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error404.html</location>
    </error-page> 
</web-app>
